<app-menu titulo="Página de contato"></app-menu>

<ion-header [translucent]="true">
</ion-header>

<ion-content>


<ion-card>
  <img alt="The House of cakes" [src]="image" />
  <ion-card-header>
    <ion-card-title>Contatos</ion-card-title>
    <ion-card-subtitle><ion-icon name="call-outline"></ion-icon> <ion-label>  (21) 99999-9999</ion-label></ion-card-subtitle>
    <ion-card-subtitle><ion-icon name="mail-open-outline"></ion-icon><ion-label> receitasdophil@gmail.com.br</ion-label></ion-card-subtitle>
    <ion-card-subtitle><ion-icon name="logo-facebook"></ion-icon><ion-label> facebook.com/receitasdophil</ion-label></ion-card-subtitle>
    <ion-card-subtitle><ion-icon name="logo-instagram"></ion-icon><ion-label> instagram.com/receitasdophil</ion-label></ion-card-subtitle>   
  </ion-card-header>  
</ion-card>

</ion-content>