
<app-menu titulo="Página Inicial" ></app-menu>


<ion-content>
  <ion-img [src]="img">

  </ion-img>
  <ion-list *ngFor="let comida of receitas" color="warning" class="ion-text-center" (click)="actionFolha(comida)">
    
      <ion-item>
        <ion-label> {{comida.receita}} </ion-label>
      </ion-item>  

      <ion-item-options>
        
        <ion-item-option  color="danger" (click)="deletar(receita.id)">
          <ion-icon name="trash-outline"></ion-icon>          
        </ion-item-option>
        
        <ion-item-option  color="success" [routerLink]="['/form',receita.id]">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>

  </ion-list>


</ion-content>

